.navigation {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100vw;
  padding: 1rem;
  background-color: var(--color-white);
}

.logo{
    justify-self: center;
    font-size: 4rem;
}

.list {
  &-link {
    font-size: 1.8rem;
    cursor: pointer;
    padding: 1rem;
    text-transform: capitalize;
    text-decoration: none;
    color: currentColor;
    transition: all 1s ease-in;

    &:hover {
       text-decoration: underline;
    }
  }
}
